// Shop by departments
.home-shop-by-department {
  margin-top: 30px;

  h2{
    border-bottom: 1px solid $primary-color;
    font-size: $font-size-title;
  }
}
.shop-by-departments{
  margin: 30px 0px 60px 0px;

  .department-base{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
	justify-content: space-between;

    .department-item-base{
      flex-grow: 1;
      text-align: center;

      height: $small-block-base-height;
      width: $small-block-base-width;

      span{
        font-weight: $bold-font;
        display: block;
        margin-top: 10px;
      }

      .department-one-image,
      .department-two-image,
      .department-three-image,
      .department-four-image,
      .department-five-image{
        height: 100%;
        width: 100%;

        border-radius: 5px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .department-one-image:hover,
      .department-two-image:hover,
      .department-three-image:hover,
      .department-four-image:hover,
      .department-five-image:hover {
        -webkit-box-shadow: $box-shadow-pallet;
        -moz-box-shadow: $box-shadow-pallet;
        box-shadow: $box-shadow-pallet;
      }

      .department-one-image{background-image: url('/static/img/gift-box.jpg');}
      .department-two-image{background-image: url('/static/img/leather-wallet.jpg');}
      .department-three-image{background-image: url('/static/img/necklace.jpg');}
      .department-four-image{background-image: url('/static/img/winter-scarf.jpg');}
      .department-five-image{background-image: url('/static/img/phone-case.jpg');}
    }

    @media only screen and (max-width: 769px) {
      a{
        min-width: 100%;
      }
      .department-item-base{
        min-width: 90%;
        margin-bottom: 60px;
      }
    }
  }
}
