// Shop by departments
.why-goreba {
  margin-top: 30px;

  h2{
    border-bottom: 1px solid $primary-color;
    font-size: $font-size-title;
  }
}

.why-goreba-base{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  margin: 40px 0px;

  .fast-delivery,
  .money-back,
  .customer-support,
  .online-payment{
    flex-grow: 1;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

    .fast-delivery-icon,
    .money-back-icon,
    .customer-support-icon,
    .online-payment-icon{
      flex-grow: 1;
      height: 46px;
      min-width: 46px;

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 3px;
    }
    .fast-delivery-icon{background-image: url('/static/img/fast-delivery.png');}
    .money-back-icon{background-image: url('/static/img/save-money.png');}
    .customer-support-icon{background-image: url('/static/img/customer-service.png');}
    .online-payment-icon{background-image: url('/static/img/credit-card.png');}


    .fast-delivery-text,
    .money-back-text,
    .customer-support-text,
    .online-payment-text{
      flex-grow: 4;
      padding-left: 10px;
      line-height: 100%;

      h5 {
        font-size: $font-size-medium;
        font-weight: $bold-font;
      }
      p{
        font-size: $font-size-medium-small;
        margin-top: -5px;
        margin-bottom: 0px;
      }
    }
  }
}
