{% extends 'base/base.html' %}
{% block main %}


<div class="container">
    <div class="card static-page-panel">
        <div class="card-header">About Us</div>
        <div class="card-body">
            <p> Goreba is an online store established in 2020. We are committed to providing excellent quality products
                and allows you to stay within your financial limits. We endeavour to achieve the highest level of
                customer satisfaction. Because we believe that - </p>

            <blockquote>
              <p>Nothing is worth it if you aren't happy.</p>
            </blockquote>

            <p> After knowing more about diversity in goods and products available across the world based on
                multi-ethnicity and multi-culture, Goreba has been established with a vision to make those goods and
                services easily buyable from every corner around the world at a fair price. It can work as an aid for
                the exposure of hidden artisans and the exchange of culture. The concept of Goreba is to become one of
                the large inventories of handicraft products, garments, and other artistic accessories endeavour to
                achieve the highest level of customer satisfaction.</p>
        </div>
    </div>
</div>

{% endblock main %}

