{% extends 'base/base.html' %}

{% block main %}
{% url 'moments:contact-us' as contact_us_url %}

{% include 'momentModules/header.html' %}

<div class="container">
    <div class="card static-page-panel">
        <div class="card-header">Delivery Information</div>
        <div class="card-body">
            <h5 class="card-title">1. General Information</h5>
            <p class="card-text">
                All orders are subject to product availability. If an item is not in stock at the time you place your order,
                we will notify you and refund you the total amount of your order, using the original method of payment.
            </p>

            <h5 class="card-title">2. Delivery Location</h5>
            <p class="card-text">
                Items offered on our website are only available for delivery to addresses in [•]. [We also accept orders from
                international customers who are shipping to addresses in [•] only.] Any shipments outside of [•] are not available at this time.
            </p>

            <h5 class="card-title">3. Delivery Time</h5>
            <p class="card-text">
                An estimated delivery time will be provided to you once your order is placed. Delivery times are estimates and commence
                from the date of shipping, rather than the date of order. Delivery times are to be used as a guide only and are subject to the acceptance and approval of your order.
                Unless there are exceptional circumstances, we make every effort to fulfill your order within [5] business days of the date of your order.
                Date of delivery may vary due to carrier shipping practices, delivery location, method of delivery, and the items ordered. Products may also be delivered in
                separate shipments.
            </p>

            <h5 class="card-title">4. Shipping Costs</h5>
            <p class="card-text">
                Shipping costs are based on the weight of your order and the delivery method. To find out how much your order will cost, simple add the items you would like to
                purchase to your cart, and proceed to the checkout page. Once at the checkout screen, shipping charges will be displayed. Additional shipping charges may apply to
                remote areas or for large or heavy items. You will be advised of any charges on the checkout page.
                Sales tax is charged according to the province or territory to which the item is shipped.
            </p>

            <h5 class="card-title">5. Damaged Items in Transport </h5>
            <p class="card-text">
                If there is any damage to the packaging on delivery, contact us immediately at <a class="link_inside_p" href={{ contact_us_url }}>Contact us</a>.
            </p>

            <h5 class="card-title">6. Questions</h5>
            <p class="card-text">
                If you have any questions about the delivery and shipment or your order, please contact us at <a class="link_inside_p" href={{ contact_us_url }}>Contact us</a>.
            </p>
        </div>
    </div>
</div>

{% include 'momentModules/footer.html' %}
{% endblock main %}