<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Hem Raj Regmi">

        <title>{% block head_title %}{% endblock %}</title>
        {% block extra_head %}
        {% endblock extra_head %}

        {% include 'base/styles.html' %}
    </head>

    <body>
        {% include 'momentModules/header.html' %}
        {% block main %}
        {% endblock main %}

        {% block extra_body %}
        {% endblock extra_body %}

        {% include 'momentModules/footer.html' %}
        {% include 'base/scripts.html' %}
        
        {% block extra_scripts %}
        {% endblock extra_scripts %}
    </body>
</html>
