
body{
  color: $primary-color; font-size: $font-size-medium;
  font-weight: $normal-font; font-family: 'Alegreya Sans', sans-serif;
}
a{
  color: $primary-color;
}
a:hover{
  cursor:pointer;
  text-decoration: none;
}

.des-hr-tag{
  border-top: 1px solid $primary-color;
  margin: 10px 0px 0px 0px;
  padding: 5px;
}

.p_with_small_font{
  font-size: $font-size-small;
}

.form-control:focus {
    border-color: $primary-color !important;
    -webkit-box-shadow: $form-control-focus;
    -moz-box-shadow: $form-control-focus;
    box-shadow: $form-control-focus;
}


#test-heading{
  font-size: 24px;
}
#test-title{
  font-size: 20px;
}
#test-capitals{
  font-size: 18px;
}
#test-medium-font{
  font-size: 16px;
}
#test-small-font{
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  #test-heading{
    font-size: 20px;
  }
  #test-title{
    font-size: 18px;
  }
  #test-capitals{
    font-size: 16px;
  }
  #test-medium-font{
    font-size: 12px;
  }
  #test-small-font{
    font-size: 10px;
  }
}