/* line 2, ../../../../../PycharmProjects/desSyabil/static_files/scss/base/_parameters.scss */
body {
  color: #374794;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Alegreya Sans', sans-serif;
}

/* line 6, ../../../../../PycharmProjects/desSyabil/static_files/scss/base/_parameters.scss */
a {
  color: #374794;
}

/* line 9, ../../../../../PycharmProjects/desSyabil/static_files/scss/base/_parameters.scss */
a:hover {
  cursor: pointer;
  text-decoration: none;
}

/* line 14, ../../../../../PycharmProjects/desSyabil/static_files/scss/base/_parameters.scss */
.des-hr-tag {
  border-top: 1px solid #374794;
  margin: 10px 0px 0px 0px;
  padding: 5px;
}

/* line 20, ../../../../../PycharmProjects/desSyabil/static_files/scss/base/_parameters.scss */
.p_with_small_font {
  font-size: 12px;
}

/* line 24, ../../../../../PycharmProjects/desSyabil/static_files/scss/base/_parameters.scss */
.form-control:focus {
  border-color: #374794 !important;
  -webkit-box-shadow: 0px 0px 8px #374794 !important;
  -moz-box-shadow: 0px 0px 8px #374794 !important;
  box-shadow: 0px 0px 8px #374794 !important;
}

/* line 32, ../../../../../PycharmProjects/desSyabil/static_files/scss/base/_parameters.scss */
#test-heading {
  font-size: 24px;
}

/* line 35, ../../../../../PycharmProjects/desSyabil/static_files/scss/base/_parameters.scss */
#test-title {
  font-size: 20px;
}

/* line 38, ../../../../../PycharmProjects/desSyabil/static_files/scss/base/_parameters.scss */
#test-capitals {
  font-size: 18px;
}

/* line 41, ../../../../../PycharmProjects/desSyabil/static_files/scss/base/_parameters.scss */
#test-medium-font {
  font-size: 16px;
}

/* line 44, ../../../../../PycharmProjects/desSyabil/static_files/scss/base/_parameters.scss */
#test-small-font {
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  /* line 49, ../../../../../PycharmProjects/desSyabil/static_files/scss/base/_parameters.scss */
  #test-heading {
    font-size: 20px;
  }
  /* line 52, ../../../../../PycharmProjects/desSyabil/static_files/scss/base/_parameters.scss */
  #test-title {
    font-size: 18px;
  }
  /* line 55, ../../../../../PycharmProjects/desSyabil/static_files/scss/base/_parameters.scss */
  #test-capitals {
    font-size: 16px;
  }
  /* line 58, ../../../../../PycharmProjects/desSyabil/static_files/scss/base/_parameters.scss */
  #test-medium-font {
    font-size: 12px;
  }
  /* line 61, ../../../../../PycharmProjects/desSyabil/static_files/scss/base/_parameters.scss */
  #test-small-font {
    font-size: 10px;
  }
}

/* line 2, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-desktop-base {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  font-size: 18px;
}

/* line 10, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-desktop-base .navbar-brand-base {
  flex-grow: 7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

/* line 18, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-desktop-base .navbar-brand-base .navbar-brand-image {
  flex-grow: 3;
  height: 26px;
  width: 26px;
  background: url("/static/img/company.png") no-repeat center;
  background-size: contain;
}

/* line 25, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-desktop-base .navbar-brand-base .navbar-brand-name {
  padding-left: 5px;
  flex-grow: 7;
  text-decoration: none;
  font-size: 24px;
}

/* line 32, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-desktop-base .navbar-search-penel-base {
  margin: 5px;
  flex-grow: 20;
}

/* line 36, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-desktop-base .navbar-search-penel-base .navbar-search-area {
  padding-left: 50px;
  margin-right: 30px;
  width: 100%;
}

/* line 41, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-desktop-base .navbar-search-penel-base .form-inline .form-search-icon {
  display: inline-block;
  position: absolute;
  margin-left: 20px;
  height: 20px;
  width: 20px;
  background: url("/static/img/search.png") no-repeat center;
  background-size: cover;
}

/* line 51, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-desktop-base .navbar-wishlist-base {
  flex-grow: 3;
  display: block;
  height: 26px;
  width: 26px;
  background: url("/static/img/heart-not-filled.png") no-repeat center;
  background-size: contain;
  margin-right: 20px;
}

/* line 60, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-desktop-base .navbar-account-orders-base {
  flex-grow: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

/* line 68, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-desktop-base .navbar-account-orders-base .navbar-account-user-icon {
  flex-grow: 3;
  height: 26px;
  width: 26px;
  background: url("/static/img/user.png") no-repeat center;
  background-size: contain;
}

/* line 75, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-desktop-base .navbar-account-orders-base .navbar-my-account {
  flex-grow: 7;
  padding-left: 5px;
}

/* line 79, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-desktop-base .navbar-account-orders-base .navbar-my-account span {
  font-size: 12px;
  display: block;
  margin-bottom: -5px;
}

/* line 86, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-desktop-base .navbar-cart-base {
  flex-grow: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* line 93, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-desktop-base .navbar-cart-base .navbar-cart-icon {
  flex-grow: 3;
  height: 26px;
  width: 26px;
  background: url("/static/img/cart.png") no-repeat center;
  background-size: contain;
}

/* line 100, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-desktop-base .navbar-cart-base .navbar-cart-icon span {
  color: #ffffff;
  background-color: #9d2832;
  font-size: 14px;
  position: absolute;
  top: 10px;
  margin-left: 10px;
}

/* line 109, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-desktop-base .navbar-cart-base .navbar-cart-info {
  flex-grow: 7;
  padding-left: 5px;
}

/* line 116, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-mobile-base {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 62px;
  align-items: center;
  font-size: 16px;
}

/* line 124, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-mobile-base .navbar-brand-base {
  flex-grow: 7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

/* line 132, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-mobile-base .navbar-brand-base .navbar-brand-image {
  flex-grow: 1;
  height: 32px;
  width: 32px;
  background: url("/static/img/company.png") no-repeat center;
  background-size: contain;
}

/* line 139, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-mobile-base .navbar-brand-base .navbar-brand-name {
  padding-left: 6px;
  flex-grow: 7;
  text-decoration: none;
  font-size: 24px;
}

/* line 147, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-mobile-base .navbar-mobile-menu-icon,
.des-navbar-base .des-navbar-mobile-base .navbar-account-user-icon,
.des-navbar-base .des-navbar-mobile-base .navbar-cart-icon {
  flex-grow: 1;
  height: 32px;
  width: 32px;
}

/* line 154, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-mobile-base .navbar-mobile-menu-icon {
  background: url("/static/img/open-menu.png") no-repeat center;
  background-size: contain;
}

/* line 158, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-mobile-base .navbar-account-user-icon {
  background: url("/static/img/user.png") no-repeat center;
  background-size: contain;
}

/* line 162, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-mobile-base .navbar-cart-icon {
  background: url("/static/img/cart.png") no-repeat center;
  background-size: contain;
}

/* line 166, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-base .des-navbar-mobile-base .navbar-cart-icon span {
  color: #ffffff;
  background-color: #9d2832;
  font-size: 14px;
  position: absolute;
  top: 10px;
  margin-left: 10px;
}

@media only screen and (min-width: 769px) {
  /* line 179, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
  .des-navbar-base .des-navbar-mobile-base {
    display: none !important;
  }
}

@media only screen and (max-width: 769px) {
  /* line 184, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
  .des-navbar-base .des-navbar-desktop-base {
    display: none !important;
  }
}

/* line 190, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-lower-desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 27px;
  text-align: center;
  background-color: #374794;
}

/* line 199, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-lower-desktop div {
  color: #ffffff;
  margin: 0px 10px;
}

/* line 203, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-lower-desktop div:hover,
.des-navbar-lower-desktop div.active {
  border-bottom: 3px solid #ff6347;
  font-weight: 600;
}

/* line 210, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-lower-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

/* line 217, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-lower-mobile div {
  border: 1px solid #374794;
  background-color: #ffffff;
  color: #374794;
  font-size: 16px;
  margin: 0px 5px;
  border-radius: 5px 5px 0px 0px;
  padding: 2px 5px;
}

/* line 226, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-navbar-lower-mobile div:hover,
.des-navbar-lower-mobile div.active {
  border-bottom: 3px solid #ff6347;
}

/* line 232, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.des-mobile-item-seperator {
  height: 14px;
  border-bottom: 1px solid #374794;
  font-size: 12px;
  width: 100%;
  display: block;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 242, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.navbar-mobile-detail-menu {
  display: none;
}

/* line 245, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.navbar-mobile-detail-menu .navbar-search-area {
  padding-left: 50px;
  margin-right: 30px;
  width: 100%;
}

/* line 250, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.navbar-mobile-detail-menu .form-inline .form-search-icon {
  display: inline-block;
  position: absolute;
  margin-left: 20px;
  height: 20px;
  width: 20px;
  background: url("/static/img/search.png") no-repeat center;
  background-size: cover;
}

/* line 259, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.navbar-mobile-detail-menu div.mobile-menu-item {
  height: 32px;
  line-height: 32px;
  display: block;
  margin-bottom: 10px;
  padding-left: 15px;
  border-left: 4px solid #9d2832;
  border-radius: 0px 5px 5px 0px;
  -webkit-box-shadow: #cccccc 0 0 16px;
  -moz-box-shadow: #cccccc 0 0 16px;
  box-shadow: #cccccc 0 0 16px;
}

/* line 273, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.navbar-mobile-account-menu-base {
  display: none;
}

/* line 276, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.navbar-mobile-account-menu-base .navbar-mobile-account-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 62px;
  align-items: center;
  font-size: 16px;
  margin-bottom: 10px;
}

/* line 285, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.navbar-mobile-account-menu-base .navbar-mobile-account-menu .mobile-account-primary-button,
.navbar-mobile-account-menu-base .navbar-mobile-account-menu .mobile-account-secondary-button {
  flex-grow: 1;
  border: 1px solid #374794;
  border-radius: 5px;
  text-align: center;
  min-width: 140px;
  height: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

/* line 296, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
.navbar-mobile-account-menu-base .navbar-mobile-account-menu .mobile-account-primary-button {
  background-color: #374794;
  color: #ffffff;
}

@media only screen and (max-width: 769px) {
  /* line 305, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
  .des-navbar-lower-desktop {
    display: none !important;
  }
}

@media only screen and (min-width: 769px) {
  /* line 310, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_header.scss */
  .navbar-mobile-detail-menu,
  .navbar-mobile-account-menu,
  .des-navbar-lower-mobile {
    display: none !important;
  }
}

/* line 2, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.upper-footer-base {
  background-color: #eeeeee;
  height: 100%;
  border-top: 1px solid #ff6347;
  margin: 0px;
}

/* line 8, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.upper-footer-container {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 769px) {
  /* line 13, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
  .upper-footer-container {
    flex-direction: column;
  }
}

/* line 19, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.upper-footer-container div {
  padding-top: 30px;
  width: 100%;
}

/* line 37, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.upper-footer-container div span {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
  padding-top: 30px;
}

/* line 44, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.upper-footer-container div ul li {
  list-style: none;
  margin-left: -40px;
  padding: 5px 5px;
  width: 100%;
}

/* line 51, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.upper-footer-container div ul li:hover {
  cursor: pointer;
  border-left: 4px solid #9d2832;
  border-radius: 0px 5px 5px 0px;
  -webkit-box-shadow: #cccccc 0 0 16px;
  -moz-box-shadow: #cccccc 0 0 16px;
  box-shadow: #cccccc 0 0 16px;
}

/* line 64, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.footer-about-us a#footer-facebook {
  margin-left: -40px;
}

/* line 68, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.footer-about-us a#footer-facebook,
.footer-about-us a#footer-twitter,
.footer-about-us a#footer-instagram {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  margin-top: 15px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 82, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.footer-about-us a#footer-facebook {
  background-image: url("/static/img/facebook.png");
}

/* line 85, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.footer-about-us a#footer-facebook:hover {
  background-image: url("/static/img/facebook_hover.png");
}

/* line 88, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.footer-about-us a#footer-twitter {
  background-image: url("/static/img/twitter.png");
}

/* line 91, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.footer-about-us a#footer-twitter:hover {
  background-image: url("/static/img/twitter_hover.png");
}

/* line 94, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.footer-about-us a#footer-instagram {
  background-image: url("/static/img/instagram.png");
}

/* line 97, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.footer-about-us a#footer-instagram:hover {
  background-image: url("/static/img/instagram_hover.png");
}

/* line 105, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.lower-footer-base {
  background-color: #ff6347;
  color: #ffffff;
}

/* line 110, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.lower-footer-container {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ffffff;
  padding: 20px 0px;
}

@media only screen and (max-width: 769px) {
  /* line 117, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
  .lower-footer-container {
    flex-direction: column;
  }
}

/* line 122, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.lower-footer-container span {
  font-weight: 600;
}

/* line 125, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.lower-footer-container p {
  color: #eeeeee;
  padding-left: 40px;
}

/* line 146, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.fast-delivery div#faster-deliver-icon,
.money-back div#money-back-icon,
.customer-support div#customer-support-icon,
.online-payment div#online-payment-icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  display: inline-block;
  margin-bottom: -20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 160, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.fast-delivery div#faster-deliver-icon {
  background-image: url("/static/img/instagram.png");
}

/* line 163, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.money-back div#money-back-icon {
  background-image: url("/static/img/instagram.png");
}

/* line 166, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.customer-support div#customer-support-icon {
  background-image: url("/static/img/instagram.png");
}

/* line 169, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.online-payment div#online-payment-icon {
  background-image: url("/static/img/instagram.png");
}

/* line 174, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.lowest-footer {
  padding: 10px 0px;
  font-size: 12px;
}

/* line 178, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_footer.scss */
.lowest-footer span {
  padding-right: 20px;
}

/* line 2, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_account.scss */
.account-panel {
  -webkit-box-shadow: #cccccc 0 0 16px;
  -moz-box-shadow: #cccccc 0 0 16px;
  box-shadow: #cccccc 0 0 16px;
  padding: 30px;
  margin-top: 30px;
}

/* line 12, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_account.scss */
.account-title {
  font-size: 20px;
  font-weight: 600;
}

/* line 17, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_account.scss */
.account-button-primary {
  display: inline-block;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  height: 45px;
  line-height: 40px;
}

/* line 28, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_account.scss */
.account-button-primary {
  border: 1px solid #374794;
}

/* line 32, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_account.scss */
.account-button-primary:hover {
  border: 1px solid #374794;
  background-color: #374794;
  color: #ffffff;
}

/* line 38, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_account.scss */
.account-links {
  text-decoration: none;
  height: 45px;
  line-height: 40px;
}

/* line 1, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.product-list-display-base {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* line 7, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.product-list-display-base .product-item-display-base {
  border-radius: 3px;
  -webkit-box-shadow: #cccccc 0 0 16px;
  -moz-box-shadow: #cccccc 0 0 16px;
  box-shadow: #cccccc 0 0 16px;
  height: 330px;
  width: 250px;
  margin: 5px;
  flex-grow: 1;
}

/* line 18, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.product-list-display-base .product-item-display-base .product-item-image {
  height: 220px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 26, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.product-list-display-base .product-item-display-base .product-item-image .product-item-add-fav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  float: right;
  width: 36px;
  height: 36px;
  margin: 5px;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  background-color: #ffffff;
}

/* line 41, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.product-list-display-base .product-item-display-base .product-item-image .product-item-add-fav div {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin: 6px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 52, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.product-list-display-base .product-item-display-base .product-item-name {
  height: 30px;
  width: 100%;
  font-weight: 600;
  line-height: 30px;
  padding-left: 5px;
}

/* line 59, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.product-list-display-base .product-item-display-base .product-category-name-tag {
  height: 20px;
  width: 100%;
  display: flex;
}

/* line 64, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.product-list-display-base .product-item-display-base .product-category-name-tag .product-category-name {
  font-size: 14px;
  margin-right: 5px;
  padding-left: 5px;
}

/* line 71, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.product-list-display-base .product-item-display-base .product-category-name-tag .des-badge-clearance,
.product-list-display-base .product-item-display-base .product-category-name-tag .des-badge-bestseller,
.product-list-display-base .product-item-display-base .product-category-name-tag .des-badge-new {
  font-size: 12px;
}

/* line 77, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.product-list-display-base .product-item-display-base .product-category-name-tag .des-badge-new {
  background-color: #9d2832;
  color: #ffffff;
}

/* line 81, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.product-list-display-base .product-item-display-base .product-category-name-tag .des-badge-bestseller {
  background-color: #374794;
  color: #ffffff;
}

/* line 85, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.product-list-display-base .product-item-display-base .product-category-name-tag .des-badge-clearance {
  background-color: yellow;
  color: #374794;
}

/* line 90, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.product-list-display-base .product-item-display-base .item-add-to-cart-price {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

/* line 100, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.product-list-display-base .product-item-display-base .item-add-to-cart-price .item-add-to-cart {
  min-width: 100px;
  padding: 7px;
  margin-left: 5px;
  border-radius: 3px;
  border: 1px solid #374794;
  background-color: #374794;
  color: #ffffff;
}

/* line 109, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.product-list-display-base .product-item-display-base .item-add-to-cart-price .item-already-in-cart {
  padding: 7px;
  margin-left: 5px;
  border-radius: 3px;
  text-decoration: none;
  border: 1px solid #374794;
  background-color: #ffffff;
  color: #374794;
}

/* line 118, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.product-list-display-base .product-item-display-base .item-add-to-cart-price .remove-item-from-cart {
  padding: 7px;
  margin-left: 5px;
  border-radius: 3px;
  text-decoration: none;
  border: 1px solid #9d2832;
  background-color: #9d2832;
  color: #ffffff;
}

/* line 127, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.product-list-display-base .product-item-display-base .item-add-to-cart-price .item-actual-price {
  flex-grow: 1;
  color: #9d2832;
  font-size: 12px;
}

/* line 132, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.product-list-display-base .product-item-display-base .item-add-to-cart-price .item-actual-price span {
  font-size: 16px;
  display: block;
  margin-top: -7px;
  text-decoration: line-through;
}

/* line 139, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.product-list-display-base .product-item-display-base .item-add-to-cart-price .item-discounted-price {
  flex-grow: 1;
  font-size: 18px;
}

/* line 148, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.des-pagination {
  margin-top: 30px;
}

/* line 152, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.pagination > li > a {
  background-color: #ffffff !important;
  color: #374794 !important;
  margin-right: 10px;
  border: 1px solid #374794;
  border-radius: 5px;
}

/* line 160, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #ffffff;
  background-color: #ff6347 !important;
}

/* line 168, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.pagination > .active > a {
  color: #ffffff !important;
  background-color: #374794 !important;
}

/* line 173, ../../../../../PycharmProjects/desSyabil/static_files/scss/layout/_list-items.scss */
.pagination > .active > a:hover {
  background-color: #ff6347 !important;
}

/* line 1, ../../../../../PycharmProjects/desSyabil/static_files/scss/modules/_buttons.scss */
.des-button-primary {
  border: 1px solid #374794;
  padding: 8px 15px;
  border-radius: 5px;
  margin-right: 10px;
}

/* line 7, ../../../../../PycharmProjects/desSyabil/static_files/scss/modules/_buttons.scss */
.des-button-primary:hover {
  background-color: #374794;
  color: #ffffff;
}

/* line 12, ../../../../../PycharmProjects/desSyabil/static_files/scss/modules/_buttons.scss */
.des-button-secondary {
  border: 1px solid #ff6347;
  padding: 8px 15px;
  border-radius: 5px;
}

/* line 17, ../../../../../PycharmProjects/desSyabil/static_files/scss/modules/_buttons.scss */
.des-button-secondary:hover {
  background-color: #ff6347;
  color: #ffffff;
}

/* line 22, ../../../../../PycharmProjects/desSyabil/static_files/scss/modules/_buttons.scss */
.add-to-cart {
  border: 1px solid #374794;
  padding: 8px 15px;
  border-radius: 5px;
  width: 50%;
}

/* line 28, ../../../../../PycharmProjects/desSyabil/static_files/scss/modules/_buttons.scss */
.add-to-cart:hover {
  background-color: #374794;
  color: #ffffff;
}

/* line 1, ../../../../../PycharmProjects/desSyabil/static_files/scss/modules/_forms.scss */
.form-title {
  font-size: 24px;
  font-weight: 600;
  color: black;
  margin-bottom: 20px;
}

/* line 1, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.home-showcase-base {
  width: 100%;
  height: 500px;
  display: block;
  background-image: url("/static/img/home_showcase_base.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow: #cccccc 0 0 16px;
  -moz-box-shadow: #cccccc 0 0 16px;
  box-shadow: #cccccc 0 0 16px;
  opacity: 50%;
  position: relative;
}

/* line 20, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.categories {
  display: block;
  position: absolute;
  height: 200px;
  width: 100%;
  text-align: center;
  bottom: 0px;
}

@media only screen and (max-width: 600px) {
  /* line 29, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
  .categories {
    bottom: 100px;
  }
}

/* line 35, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.categories .category-first,
.categories .category-second,
.categories .category-third,
.categories .category-forth {
  min-width: 20%;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  display: inline-block;
  margin: 1%;
  background-color: #374794;
  color: #ffffff;
  line-height: 200px;
  -webkit-box-shadow: #cccccc 0 0 16px;
  -moz-box-shadow: #cccccc 0 0 16px;
  box-shadow: #cccccc 0 0 16px;
}

@media only screen and (max-width: 600px) {
  /* line 55, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
  .categories .category-first,
  .categories .category-second,
  .categories .category-third,
  .categories .category-forth {
    height: 50px;
    margin: 10px;
    line-height: 50px;
  }
}

/* line 68, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.home-featured {
  margin-top: 30px;
}

/* line 71, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.home-featured h2 {
  border-bottom: 1px solid #374794;
  font-size: 20px;
}

/* ==== Main CSS === */
/* line 89, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .item .img-fill {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
}

/* line 98, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .item .img-fill .img-div-one,
.Modern-Slider .item .img-fill .img-div-two,
.Modern-Slider .item .img-fill .img-div-three,
.Modern-Slider .item .img-fill .img-div-four,
.Modern-Slider .item .img-fill .img-div-five {
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 112, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .item .img-fill .img-div-one {
  background-image: url("/static/img/home_showcase_base.JPG");
}

/* line 115, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .item .img-fill .img-div-two {
  background-image: url("/static/img/pic1.png");
}

/* line 118, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .item .img-fill .img-div-three {
  background-image: url("/static/img/pic2.jpg");
}

/* line 121, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .item .img-fill .img-div-four {
  background-image: url("/static/img/pic3.jpg");
}

/* line 124, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .item .img-fill .img-div-five {
  background-image: url("/static/img/home_showcase_base.JPG");
}

/* line 129, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}

/* line 139, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Grid1k {
  padding: 0 15px;
  max-width: 1200px;
  margin: auto;
}

/* line 145, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.blocks-box,
.slick-slider {
  margin: 0;
  padding: 0 !important;
}

/* line 151, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.slick-slide {
  float: left;
  padding: 0;
}

/* ==== Slider Style === */
/* line 157, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .item .img-fill {
  height: 80vh;
  background: #374794;
}

/* line 162, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .item .img-fill .info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  line-height: 80vh;
  text-align: center;
}

/* line 173, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .item .img-fill .img-div {
  filter: blur(2px);
}

/* line 177, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .item .info > div {
  display: inline-block !important;
  vertical-align: middle;
}

/* line 182, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .NextArrow,
.Modern-Slider .PrevArrow {
  position: absolute;
  top: 50%;
  right: 0px;
  width: 45px;
  height: 90px;
  background-color: #374794;
  border: 1px solid #374794;
  border-radius: 5px;
  margin-top: -22.5px;
  text-align: center;
  font-size: 24px;
  font-family: FontAwesome, sans-serif;
  color: #ffffff;
  z-index: 5;
}

/* line 199, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .NextArrow {
  right: 0px;
}

/* line 203, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .NextArrow:before {
  content: '\f105';
}

/* line 205, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .PrevArrow {
  left: 0px;
}

/* line 209, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .PrevArrow:before {
  content: '\f104';
}

/* line 211, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .slick-dots {
  position: absolute;
  height: 5px;
  background: rgba(255, 255, 255, 0.2);
  bottom: 0px;
  width: 100%;
  left: 0px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

/* line 222, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .slick-dots li button {
  display: none;
}

/* line 223, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .slick-dots li {
  float: left;
  width: 0px;
  height: 5px;
  background-color: #9d2832;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

/* line 233, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .slick-dots li.slick-active {
  width: 100%;
  animation: ProgressDots 11s both;
}

/* line 238, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .item h3 {
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
  animation: fadeOutRight 1s both;
  margin: 0;
  padding: 20px;
}

/* line 247, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .item h5 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #ffffff;
  max-width: 600px;
  overflow: hidden;
  height: 60px;
  animation: fadeOutLeft 1s both;
}

/* line 258, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .item.slick-active h3 {
  animation: fadeInDown 1s both 1s;
}

/* line 262, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .item.slick-active h5 {
  animation: fadeInLeft 1s both 1.5s;
}

/* line 266, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider .item.slick-active {
  animation: Slick-FastSwipeIn 1s both;
}

/* line 270, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.Modern-Slider {
  background-color: #374794;
}

/* ==== Slider Image Transition === */
@keyframes Slick-FastSwipeIn {
  0% {
    transform: rotate3d(0, 1, 0, 150deg) scale(0) perspective(400px);
  }
  100% {
    transform: rotate3d(0, 1, 0, 0deg) scale(1) perspective(400px);
  }
}

@-webkit-keyframes ProgressDots {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@keyframes ProgressDots {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

/* ==== Slick Slider Css Ruls === */
/* line 282, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.slick-slider {
  position: relative;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 283, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* line 284, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.slick-list:focus {
  outline: none;
}

/* line 284, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.slick-list.dragging {
  cursor: hand;
}

/* line 285, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 286, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

/* line 287, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.slick-track:before, .slick-track:after {
  display: table;
  content: '';
}

/* line 287, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.slick-track:after {
  clear: both;
}

/* line 288, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 289, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

/* line 290, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.slick-slide.dragging img {
  pointer-events: none;
}

/* line 291, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.slick-initialized .slick-slide {
  display: block;
}

/* line 292, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}

/* line 293, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_index.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 2, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_product_details.scss */
.product-image {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
  border-radius: 5px;
  -webkit-box-shadow: #cccccc 0 0 16px;
  -moz-box-shadow: #cccccc 0 0 16px;
  box-shadow: #cccccc 0 0 16px;
}

/* line 16, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_product_details.scss */
h2.product-title {
  margin-top: 20px;
}

/* line 21, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_product_details.scss */
.des-badge-clearance,
.des-badge-bestseller,
.des-badge-new {
  font-size: 12px;
}

/* line 27, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_product_details.scss */
.des-badge-new {
  background-color: #9d2832;
  color: #ffffff;
}

/* line 31, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_product_details.scss */
.des-badge-bestseller {
  background-color: #374794;
  color: #ffffff;
}

/* line 35, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_product_details.scss */
.des-badge-clearance {
  background-color: #ff6347;
  color: #374794;
}

/* line 45, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_product_details.scss */
.product-variation-image {
  height: 200px;
  width: 100%;
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 1, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_static_pages.scss */
.static-page-panel {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* line 5, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_static_pages.scss */
.static-page-panel .card-header {
  font-size: 24px;
}

/* line 10, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_static_pages.scss */
.faq-title {
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
  border-left: 3px solid #9d2832;
  border-right: 3px solid #9d2832;
  border-radius: 10px;
  padding-left: 10px;
  background-color: #eeeeee;
  cursor: pointer;
}

/* line 23, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_static_pages.scss */
.faq-body {
  margin-left: 10px;
  border-left: 2px solid #ff6347;
  padding-left: 10px;
}

/* line 29, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_static_pages.scss */
.link_inside_p {
  background-color: #374794;
  color: #ffffff;
  padding: 0px 5px;
  border-radius: 5px;
}

/* line 35, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_static_pages.scss */
.link_inside_p:hover {
  color: #ffffff;
}

/* line 40, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_static_pages.scss */
.no-items-to-show {
  width: 100%;
  height: 60px;
  font-size: 20px;
  background-color: #eeeeee;
  border: 0;
  border-radius: 5px 0 5px 0;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25);
}

/* line 65, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_static_pages.scss */
.company_address {
  height: 70px;
  width: 140px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/static/img/address.png");
  margin-top: -15px;
}

/* line 1, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_trade_shows.scss */
#trade_show_gallery {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

@media (max-width: 1200px) {
  /* line 11, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_trade_shows.scss */
  #trade_show_gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 800px) {
  /* line 18, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_trade_shows.scss */
  #trade_show_gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 600px) {
  /* line 25, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_trade_shows.scss */
  #trade_show_gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

/* line 31, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_trade_shows.scss */
.trade_show_card {
  width: 100%;
  height: auto;
  margin: 2% auto;
  box-shadow: -3px 5px 15px #374794;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* line 41, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_trade_shows.scss */
.modal-img, .model-vid {
  width: 100%;
  height: auto;
}

/* line 45, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_trade_shows.scss */
.modal-body {
  padding: 0px;
}

/* line 1, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_error_pages.scss */
.hit-the-error-floor {
  color: #fff;
  font-size: 12em;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

/* line 21, ../../../../../PycharmProjects/desSyabil/static_files/scss/pages/_error_pages.scss */
.error-page-box {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

/*# sourceMappingURL=main.css.map */