{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% url 'moments:faq' as faq_url %}


{% block main %}

{% include 'momentModules/header.html' %}

<div class="container">
    <div class="account-panel">
        <h2 class="account-title">Have you checked out FAQ?</h2>
        <p>Before reaching out, you might want to check out FAQ page. This may answer questions you have about the site and policies.</p>
        <a href="{{ faq_url }}"><button class="des-button-primary">Visit FAQ</button></a>
    </div>
</div>

<div class="container">
    <div class="account-panel">
        <h2 class="account-title">Get in touch with us</h2>
        <p>We love Feedback / Suggestions, please drop your thoughts.</p>
        <form method="POST" class="uniForm">
            {% csrf_token %}
            {{ form|crispy }}
            <button type='submit' class='des-button-primary'>Submit</button>
        </form>
    </div>
</div>

{% include 'momentModules/footer.html' %}

{% endblock main %}
