{% load static %}


<!-- Some url used -->
{% url 'cart:home' as cart_url %}


<div class="container">
    <div class="product-list-display-base">
        {% for item in object_list %}
        <div class="product-item-display-base">

            <!-- product item picture -->
            <a href={{ item.get_absolute_url }}>
                {% if item.image %}
                    <div class="product-item-image" style="background-image: url('{{ item.get_image_url }}');">
                {% else %}
                    <div class="product-item-image" style="background-image: url('/static/img/image-placeholder.jpg');">
                {% endif %}
                <div class="product-item-add-fav">
                    <div style="background-image: url('/static/img/heart.png');"></div>
                </div>
                </div>
            </a>

            <!-- product item name -->
            <a href={{ item.get_absolute_url }}><div class="product-item-name">
                {{ item.name|truncatechars:42 }}
            </div></a>

            <!-- product item category and tag -->
            <div class="product-category-name-tag">
                <a href=""><div class="product-category-name">{{ item.subcategory.category }}</div></a>
                <div class="badge badge-pill des-badge-{{ item.get_label_display }}">{{ item.get_label_display }}</div>
            </div>

            <!-- product item add to cart and price -->
            <div class="item-add-to-cart-price">

                {% include 'products/snippets/update-cart.html' with product=item cart=cart %}

                {% if item.discount_price %}
                    <div class="item-actual-price">was<span>${{ item.price }}</span></div>
                    <div class="item-discounted-price">${{ item.discount_price }}</div>
                {% else %}
                    <div class="item-discounted-price">${{ item.price }}</div>
                {% endif %}
            </div>
        </div>
        {% empty %}
            <div class="no-items-to-show">No Items to Display</div>
        {% endfor %}
    </div>
</div>

{% if is_paginated %}
<div class="d-flex justify-content-center des-pagination">
    <ul class="pagination">

      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% endif %}

      <li class="page-item active">
        <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
          <span class="sr-only">(current)</span>
        </a>
      </li>

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      {% endif %}
    </ul>
</div>
{% endif %}