{% load static %}

{% url 'moments:home' as home_url %}

{# about us urls #}
{% url 'moments:trade-shows' as trade_shows_url %}
{% url 'moments:about-us' as about_us_url %}
{% url 'moments:job-openings' as job_openings_url %}

{# account and shipping info urls #}
{% url 'moments:return-policy' as return_policy_url %}
{% url 'moments:delivery-info' as delivery_info_url %}
{% url 'moments:privacy-policy' as privacy_policy_url %}
{% url 'moments:cookie-policy' as cookie_policy_url %}

{# get connected urls #}
{% url 'moments:contact-us' as contact_us_url %}
{% url 'moments:terms' as terms_url %}
{% url 'moments:faq' as faq_url %}

{# shop by departments urls #}
{% url 'moments:home' as scarfs_url %}
{% url 'moments:home' as leathers_url %}
{% url 'moments:home' as jewelleries_url %}
{% url 'moments:home' as gift_ideas_url %}
{% url 'moments:home' as phone_cases_url %}

<footer class="upper-footer-base">
    <div class="container">
        <div class="upper-footer-container">
            <div class="footer-departments">
                <span>Shop Departmants</span>
                <ul>
                    <a href={{ scarfs_url }}><li>Pashmina / Cashmere Scarfs</li></a>
                    <a href={{ leathers_url }}><li>Leather Goods</li></a>
                    <a href={{ phone_cases_url }}><li>Phone Cases</li></a>
                    <a href={{ jewelleries_url }}><li>Jewelleries</li></a>
                    <a href={{ gift_ideas_url }}><li>Gift Ideas</li></a>
                </ul>
            </div>
            <div class="footer-about-us">
                <span>About Us</span>
                <ul>
                    <a href={{ about_us_url }}><li>About the Company</li></a>
                    <a href={{ trade_shows_url }}><li>Explore our Trade Shows</li></a>
                    <a href={{ job_openings_url }}><li>Careers</li></a>
                </ul>
                <span>Get Connected</span>
                <ul>
                    <a href={{ contact_us_url }}><li>Contact Us</li></a>
                    <a href={{ faq_url }}><li>Help Center / FAQ</li></a>
                    <a href="#" id="footer-facebook"></a>
                    <a href="#" id="footer-twitter"></a>
                    <a href="#" id="footer-instagram"></a>
                </ul>
            </div>
            <div class="footer-account-info">
                <span>Account and Shipping Info</span>
                <ul>
                    <a href="#"><li>My Account</li></a>
                    <a href="#"><li>Shipping Rates & Policies</li></a>
                    <a href="#"><li>Refund and Replacements</li></a>
                    <a href="#"><li>Order Tracking</li></a>
                    <a href={{ delivery_info_url }}><li>Delivery Information</li></a>
                    <a href="#"><li>Taxes and Fees</li></a>
                </ul>
            </div>
        </div>
    </div>
</footer>
<footer class="lower-footer-base">
    <div class="container">
        <div class="lowest-footer">
            <a href={{ terms_url }}><span>Terms of Use</span></a>
            <a href={{ privacy_policy_url }}><span>Privacy Policy</span></a>
            <a href={{ cookie_policy_url }}><span>Cookie Policy</span></a>
            <p>© 2021 Goreba - All Rights Reserved</p>
        </div>
    </div>
</footer>

