{% load static %}

{% url 'moments:home' as home_url %}
{% url 'cart:home' as cart_url %}
{% url 'moments:home' as wishlist_url %}
{% url 'account:login' as login_url %}
{% url 'account:register' as register_url %}
{% url 'account:logout' as logout_url %}
{% url '' as user_profile_url %}

{# for lower header urls #}
{% url '' as best_sellers_url %}
{% url '' as new_releases_url %}
{% url '' as on_sale_url %}
{% url '' as most_populars_url %}
{% url '' as scarfs_url %}
{% url '' as leathers_url %}
{% url '' as phone_cases_url %}
{% url '' as jewelleries_url %}
{% url '' as gift_ideas_url %}
{% url '' as shipping_url %}


<div class="goreba-announcement">
    <p>International Shipping Available! Checkout our <a href={{ shipping_url }}>shipping policy</a></p>
</div>

<div class="container">
    <div class="des-navbar-base">
        <div class="des-navbar-desktop-base">
            <!-- brand -->
            <a href={{ home_url }}><div class="navbar-brand-base">
                <div class="navbar-brand-image"></div>
            </div></a>

            <!-- Search panel -->
            <div class="navbar-search-penel-base">
                <form method='GET' action='{% url "search:query" %}' class="form-inline">
                    <div class="form-search-icon"></div>
                    <input class="form-control form-control-lg navbar-search-area" type="text" placeholder="What are you looking for?" name='q' aria-label="Search" value='{{ request.GET.q }}'>
                </form>
            </div>

            <!-- wishlist -->
            <a href={{ wishlist_url }}><div class="navbar-wishlist-base"></div></a>

            <!-- account and orders -->
            {% if request.user.is_authenticated %}
                <a href={{ user_profile_url }}><div class="navbar-account-orders-base">
                    <div class="navbar-account-user-icon"></div>
                    <div class="navbar-my-account"><span>Hi, {{ request.user.get_short_name }}</span>My Profile</div>
                </div></a>
            {% else %}
                <a href={{ login_url }}><div class="navbar-account-orders-base">
                    <div class="navbar-account-user-icon"></div>
                    <div class="navbar-my-account"><span>Hello, Sign in</span>My Account</div>
                </div></a>
            {% endif %}

            <!-- carts -->
            <a href={{ cart_url }}><div class="navbar-cart-base">
                <div class="navbar-cart-icon">
                    <span class="badge badge-light">{% if request.session.cart_items > 0  %}{{ request.session.cart_items }}{% endif %}</span>
                </div>
                <div class="navbar-cart-info">My Cart</div>
            </div></a>
        </div>
        <div class="des-navbar-mobile-base">
            <!-- brand -->
            <a href={{ home_url }}><div class="navbar-brand-base">
                <div class="navbar-brand-image"></div>
                <div class="navbar-brand-name">DesMoments</div>
            </div></a>

            <!-- hamburger menu -->
            <a href="#"><div class="navbar-mobile-menu-icon"></div></a>

            <!-- account and orders -->
            <a href="#"><div class="navbar-account-user-icon"></div></a>

            <!-- carts -->
            <a href={{ cart_url }}><div class="navbar-cart-icon">
                <span class="badge badge-light">{% if request.session.cart_items > 0  %}{{ request.session.cart_items }}{% endif %}</span>
            </div></a>
        </div>
    </div>
</div>

<div class="container">
    <div class="navbar-mobile-detail-menu">

        <form method='GET' action='{% url "search:query" %}' class="form-inline">
            <div class="form-search-icon"></div>
            <input class="form-control form-control-lg navbar-search-area" type="text" placeholder="What are you looking for?" name='q' aria-label="Search" value='{{ request.GET.q }}'>
        </form>
        <span class="des-mobile-item-seperator">Accounts & Actions</span>
        <a href=""><div class="mobile-menu-item">My Account <span></span></div></a>
        <a href=""><div class="mobile-menu-item">Wishlist <span></span></div></a>

        <span class="des-mobile-item-seperator">Shop Categories</span>

        <a href=""><div class="mobile-menu-item">Pashmina / Cashmere Scarfs <span></span></div></a>
        <a href=""><div class="mobile-menu-item">Leather Goods<span></span></div></a>
        <a href=""><div class="mobile-menu-item">Jewelleries<span></span></div></a>
        <a href=""><div class="mobile-menu-item">Phone Cases <span></span></div></a>

        <span class="des-mobile-item-seperator">Shop</span>
    </div>
</div>

<div class="container navbar-mobile-account-menu-base">
    <div class="navbar-mobile-account-menu">

        {% if request.user.is_authenticated %}
            <a href={{ logout_url }}><div class="mobile-account-primary-button">Logout</div></a>
        {% else %}
            <a href={{ login_url }}><div class="mobile-account-primary-button">Log in</div></a>
            <a href={{ register_url }}><div class="mobile-account-secondary-button">Register</div></a>
        {% endif %}

        <span class="des-mobile-item-seperator">Shop</span>

    </div>
</div>

<div class="des-navbar-lower-desktop">
    <a href={{ best_sellers_url }}><div class="{% if request.path == best_sellers_url %}active{% endif %}">Bestsellers</div> </a>
    <a href={{ new_releases_url }}><div class="{% if request.path == new_releases_url %}active{% endif %}">New Releases</div> </a>
    <a href={{ on_sale_url }}><div class="{% if request.path == on_sale_url %}active{% endif %}">On SALE</div></a>
    <a href={{ most_populars_url }}><div class="{% if request.path == most_populars_url %}active{% endif %}">Most Populars</div></a>
    <a href={{ scarfs_url }}><div class="{% if request.path == scarfs_url %}active{% endif %}">Pashmina / Cashmere Scarfs</div></a>
    <a href={{ leathers_url }}><div class="{% if request.path == leathers_url %}active{% endif %}">Leather Goods</div></a>
    <a href={{ phone_cases_url }}><div class="{% if request.path == phone_cases_url %}active{% endif %}">Phone Cases</div></a>
    <a href={{ jewelleries_url }}><div class="{% if request.path == jewelleries_url %}active{% endif %}">Jewelleries</div></a>
    <a href={{ gift_ideas_url }}><div class="{% if request.path == gift_ideas_url %}active{% endif %}">Gift Ideas</div></a>
</div>
<div class="des-navbar-lower-mobile">
    <a href={{ best_sellers_url }}><div class="{% if request.path == best_sellers_url %}active{% endif %}">Best Sellers</div> </a>
    <a href={{ new_releases_url }}><div class="{% if request.path == new_releases_url %}active{% endif %}">New Releases</div> </a>
    <a href={{ on_sale_url }}><div class="{% if request.path == on_sale_url %}active{% endif %}">On SALE</div></a>
    <a href={{ gift_ideas_url }}><div class="{% if request.path == gift_ideas_url %}active{% endif %}">Gift Ideas</div></a>
</div>

{% if messages %}
    {% for message in messages %}
    <div class="container">
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    </div>
    {% endfor %}
{% endif %}

