{% load static %}
<div class="Modern-Slider">
  <!-- Item -->
  <div class="item">
    <div class="img-fill">
        <div class="img-div-one"></div>
<!--        <img src="{% static 'img/home_showcase_base.JPG' %}" alt="My image">-->
      <div class="info">
        <div>
          <h3>Largest Inventory Collection</h3>
          <h5>You can easily add image, html formatted texts and video layers over each slide and each layer accepts unique animation.</h5>
{#          <button class="des-button-primary">Pashmina</button>#}
        </div>
      </div>
    </div>
  </div>
  <!-- // Item -->
    <!-- Item -->
  <div class="item">
    <div class="img-fill">
      <div class="img-div-two"></div>
      <div class="info">
        <div>
          <h3>Offers and Promotions</h3>
          <h5>You can easily add image, html formatted texts and video layers over each slide and each layer accepts unique animation.</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- // Item -->
    <!-- Item -->
  <div class="item">
    <div class="img-fill">
      <div class="img-div-three"></div>
      <div class="info">
        <div>
          <h3>Clearance products</h3>
          <h5>You can easily add image, html formatted texts and video layers over each slide and each layer accepts unique animation.</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- // Item -->
    <!-- Item -->
  <div class="item">
    <div class="img-fill">
      <div class="img-div-four"></div>
      <div class="info">
        <div>
          <h3>Canada day specials</h3>
          <h5>You can easily add image, html formatted texts and video layers over each slide and each layer accepts unique animation.</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- // Item -->
    <!-- Item -->
  <div class="item">
    <div class="img-fill">
      <div class="img-div-five"></div>
      <div class="info">
        <div>
          <h3>Largest Inventory Collection</h3>
          <h5>You can easily add image, html formatted texts and video layers over each slide and each layer accepts unique animation.</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- // Item -->
</div>