{% load static %}

<div class="container">
    <div class="why-goreba-base">
        <div class="fast-delivery">
            <div class="fast-delivery-icon"></div>
            <div class="fast-delivery-text">
                <h5>Fast and Free Delivery</h5>
                <p>Free delivery for over $100</p>
            </div>
        </div>
        <div class="money-back">
            <div class="money-back-icon"></div>
            <div class="money-back-text">
                <h5>Money Back Guarantee</h5>
                <p>We return money within 30 days</p>
            </div>
        </div>
        <div class="customer-support">
            <div class="customer-support-icon"></div>
            <div class="customer-support-text">
                <h5>Excellent Customer Support</h5>
                <p>Friendly and excellent support</p>
            </div>
        </div>
        <div class="online-payment">
            <div class="online-payment-icon"></div>
            <div class="online-payment-text">
                <h5>Secure Online Payment</h5>
                <p>We process SSL / Secure Certificate</p>
            </div>
        </div>
    </div>
</div>
