{% extends 'base/base.html' %}
{% load static %}
{% block main %}

    {#    Index page main sliders #}
    {% include 'momentModules/index_sliders.html' %}

    {#    Featured products display #}
    <div class="container">
        <div class="home-featured">
            <h2>Featured Products</h2>
            {% include 'momentModules/featured-list-items.html' %}
        </div>
    </div>

    {#    Shop by departments display #}
    <div class="container">
        <div class="home-shop-by-department">
            <h2>Shop by Departments</h2>
            {% include 'momentModules/shop-by-departments.html' %}
        </div>
    </div>

    {#    Our Services #}
    <div class="container">
        <div class="why-goreba">
            <h2>Why Shoping with Goreba Store?</h2>
            {% include 'momentModules/why-goreba.html' %}
        </div>
    </div>


{% block extra_scripts %}
<script type="text/javascript" src="{% static 'js/index_slick_slider.js' %}" defer></script>
{% endblock extra_scripts %}

{% endblock main %}
