{% extends 'base/base.html' %}
{% block main %}

{% include 'momentModules/header.html' %}

<div class="container">
    <div class="accordion" id="accordionProfile">
      <div class="card">
        <div class="card-header" id="headingPersonal">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#personalInfo" aria-expanded="true" aria-controls="personalInfo">
              Personal Information
            </button>
          </h2>
        </div>

        <div id="personalInfo" class="collapse show" aria-labelledby="headingPersonal" data-parent="#accordionProfile">
          <div class="card-body">
            <!--      Personal Information      -->
            <ul>
                <li>Username: {{ request.user.username }}</li>
                <li>Email: {{ request.user.email }}</li>
                <li>First Name: {{ request.user.first_name }}</li>
                <li>Last Name: {{ request.user.last_name }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingOrders">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#orderHistory" aria-expanded="false" aria-controls="orderHistory">
              Order History
            </button>
          </h2>
        </div>
        <div id="orderHistory" class="collapse" aria-labelledby="headingOrders" data-parent="#accordionProfile">
          <div class="card-body">
            <ul>
                <li>Reference Number: </li>
                <li>Order date: </li>
                <li>Items: </li>
                <li>Order Status: </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>



{% include 'momentModules/footer.html' %}

{% endblock main %}
